@model IEnumerable<Sacrament_Meeting_Planner.Models.Meeting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="a-btn" asp-action="Create">Plan Meeting</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateOfMeeting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leader)
            </th>
            <!--
            <th>
            @Html.DisplayNameFor(model => model.OpeningHymn)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.SacramentHymn)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ClosingHymn)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.IntermediateNumber)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.OpeningPrayer)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.ClosingPrayer)
            </th>
            -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfMeeting)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Leader)
                </td>
                <!--
                <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.IntermediateNumber)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
                </td>
                -->
                <td>
                    <a class="a-btn" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="a-btn" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="a-btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
